
body
{
  font-size: 3em;
}
body div
{
  vertical-align: top;
}

#links-block
{
  display: block;
  width: 100%;
}

a:link, a:visited
{
  display: block;
  margin: 10px;
  padding: 5px;
}

.blocks div
{
  padding: 10px;
  text-align: center;
  display: inline-block;
}
.blocks img
{
  width: 200px;
  padding-bottom: 10px;
}