
body
{
  font-size: 2em;
}
body div
{
  vertical-align: top;
}

#links-block
{
  display: block;
  width: 100%;
}

a:link, a:visited
{
  display: block;
}

.blocks div
{
  padding: 10px;
  text-align: center;
  display: inline-block;
}