
#links-block
{
  display: inline-block;
  width: 40%;
}

#schedules-block
{
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

a:link, a:visited
{
  display: inline-block;
  border-radius: 2em;
}