
body div
{
  vertical-align: middle;
}

#links-block
{
  display: inline-block;
  width: 40%;
}

#schedules-block
{
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

a:link, a:visited
{
  margin: 1px;
  padding: 1px 10px;
  display: inline-block;
  border-radius: 2em;
}

.blocks div
{
  padding: 10px;
  text-align: left;
  display: block;
}
.blocks img
{
  float: left;
}