.clear
{
  clear: both;
  display: block;
}

body div
{
  padding: 10px;
}

a:link, a:visited
{
  color: white;
}

#main
{
  height: 100%;
}

#banner
{
  text-align: center;
  display: block;
}
#banner img
{
  width: 80%;
  height: auto;
  margin: 10px;
}


#schedule
{
  /*content:url("../img/w_sc.png");
  background-image: url("../img/w_sc.png");
  background-size: 100% auto;
  background-repeat: no-repeat;*/
  width: 100%;
}


.blocks img
{
  background-repeat: no-repeat;
  height: auto;
}


.afm40c img
{
  content:url("../img/afm40c.png");
}
.afm40c a:link, .afm40c a:visited
{
  background-color: rgb(98, 60, 194);
}
.afm40c a:hover, .afm40c a:active
{
  background-color: rgb(146, 64, 255);
}

.inf132 img
{
  content:url("../img/inf132.png");
}
.inf132 a:link, .inf132 a:visited
{
  background-color: rgb(73, 145, 233);
}
.inf132 a:hover, .inf132 a:active
{
  background-color: rgb(113, 181, 255);
}

.ics139w img
{
  content:url("../img/ics139w.png");
}
.ics139w a:link, .ics139w a:visited
{
  background-color: rgb(173, 82, 7);
}
.ics139w a:hover, .ics139w a:active
{
  background-color: rgb(255, 138, 21);
}

.scs5a img
{
  content:url("../img/scs5a.png");
}
.scs5a a:link, .scs5a a:visited
{
  background-color: rgb(97, 117, 47);
}
.scs5a a:hover, .scs5a a:active
{
  background-color: rgb(123, 188, 27);
}

.flm144 img
{
  content:url("../img/flm144.png");
}
.flm144 a:link, .flm144 a:visited
{
  background-color: rgb(232, 126, 235);
}
.flm144 a:hover, .flm144 a:active
{
  background-color: rgb(255, 67, 242);
}

.kadho img
{
  content:url("../img/w_i_kadho.png");
}
.kadho a:link, .kadho a:visited
{
  background-color: rgb(29,51,121);
}
.kadho a:hover, .kadho a:active
{
  background-color: rgb(47,87,255);
}


body
{
  background-color: rgb(251, 246, 253);
  background-image: url("../img/s16_bg.jpg");
  background-size: 50% auto;
  background-repeat: no-repeat;
  font-family: Calibri, Helvetica, sans-serif;
  color: black;
	text-align: center;
}