.clear
{
  clear: both;
  display: block;
}

body div
{
  padding: 10px;
}

a:link, a:visited
{
  color: white;
}

#main
{
  height: 100%;
}

#banner
{
  text-align: center;
  display: block;
}
#banner img
{
  width: 80%;
  height: auto;
  margin: 10px;
}


#schedule
{
  /*content:url("../img/w_sc.png");
  background-image: url("../img/w_sc.png");
  background-size: 100% auto;
  background-repeat: no-repeat;*/
  width: 100%;
}


.blocks img
{
  background-repeat: no-repeat;
  height: auto;
}


.inf151 img
{
  content:url("../img/w_i_inf151.png");
}
.inf151 a:link, .inf151 a:visited
{
  background-color: #990000;
}
.inf151 a:hover, .inf151 a:active
{
  background-color: #ff3333;
}


.inf131 img
{
  content:url("../img/w_i_inf131.png");
}
.inf131 a:link, .inf131 a:visited
{
  background-color: black;
}
.inf131 a:hover, .inf131 a:active
{
  background-color: gray;
}


.ics169b img
{
  content:url("../img/w_i_ics169b.png");
}
.ics169b a:link, .ics169b a:visited
{
  background-color: #ed98e5;
}
.ics169b a:hover, .ics169b a:active
{
  background-color: #f7d4f5;
}


.cs171 img
{
  content:url("../img/w_i_cs171.png");
}
.cs171 a:link, .cs171 a:visited
{
  background-color: #990000;
}
.cs171 a:hover, .cs171 a:active
{
  background-color: #b30000;
}


.kadho img
{
  content:url("../img/w_i_kadho.png");
}
.kadho a:link, .kadho a:visited
{
  background-color: #495c8a;
}
.kadho a:hover, .kadho a:active
{
  background-color: #8a9ac2;
}


body
{
  background-image: url("../img/w16_bg.png");
  font-family: Calibri, Helvetica, sans-serif;
  color: black;
	text-align: center;
}