#mainBlock
{
	overflow: hidden;
  display: block;
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bold;
	font-family: sans-serif;
  font-variant: small-caps;
}

div
{
  overflow: hidden;
  margin: auto;
  text-align: center;
}

#trapezoid
{
  border-top-left-radius: 20%;
	border-top-right-radius: 20%;
	border-bottom: 100px solid blue;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 100px;
	width: 100px;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li
{
  float: left;
  width: 20%;
  padding: 0 2%;
}

a:link, a:visited
{
  display: block;
  width: 100%;
  border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	color: #FFFFFF;
  background-color: #83E28A;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}

a:hover, a:active
{
  background-color: #7A991A;
}