#mainBlock
{
	overflow: hidden;
  display: block;
  background-color: #1379DF;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bold;
	font-family: sans-serif;
  font-variant: small-caps;
  color: white;
}

div
{
  overflow: hidden;
  margin: auto;
  text-align: center;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li
{
  float: left;
  width: 20%;
  padding: 0 2%;
}

#tabLink a:link, a:visited
{
  display: block;
  width: 100%;
  border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	color: white;
  background-color: #58A5F1;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}

#tabLink a:hover, a:active
{
  background-color: #D7C600;
}