body
{
  background-color: #FFF03E;
  text-align: center;
  font-family: sans-serif;
}

#portrait
{
  width: 20%;
  height: 20%;
  border: solid white 2px;
  border-radius: 50%;
}

div
{
  display: block;
}

