/* mobile: landscape mode+ */

body
{
  background-color: #FFF574;
  font-family: Calibri, Helvetica, sans-serif;
  color: black;
	text-align: center;
}

#profile
	{
		background-image: url("../img/bugufish.png");
    background-size: cover;
		width: 150px;
    height: 150px;
    border: solid white 2px;
    border-radius: 50%;
    margin: auto;
    vertical-align: top;
    /*margin-top: 20px;*/
	}

#blurb
{
  text-align: left;
}

#project-container
{
  width: 95%;
  margin: 0 auto;
  border: 2px solid black;
}

#project-col1 div, #project-col2 div
{
  display: inline-block;
}

#project-col1 img
{
  width: 100%;
  height: auto;
}


/* tablet: portrait mode+ */
@media (min-width: 600px)
{
  div { background: lightgreen; }
}

/* tablet: landscape mode+ */
@media (min-width: 768px)
{
	div { background: lightblue; }
	
	#main-content div
	{
		/*border: 1px solid black;*/
		display: inline-block;
		margin: auto;
	}
	
	#blurb
	{
	  padding-left: 20px;
		width: 70%;
	}
}

/* desktop+ */
@media (min-width: 1024px)
{
	div { background: gray; }

}